@import './variables';
@import './mixins';

.about {
    margin-left: 250px;
    padding: 1rem;
    overflow-x: hidden;

    .home {
        height: 100%;
        margin-left: 0;
        margin-bottom: 0;

        &__content {
            &:hover {
                background: none;
                color: initial;
            }
        }
    }

    &__image {
        width: 40%;
        margin-left: 11rem;

        img {
            width: 100%;
        }
    }
}

@media (max-width: $mobile) {
    .about {
        margin-left: 0;
    }
}