@import './variables';
@import './mixins';

.about {
    margin-left: 250px;
    padding: 25px;
    padding-top: 18px;
    overflow-x: hidden;

    .home {
        height: 100%;
        margin-left: 0;
        margin-bottom: 0;

        &__content {
            margin-bottom: 2rem;
            padding: 0;

            .home__content-category {
                margin-left: 0;
            }

            &:hover {
                background: none;
                color: initial;
            }
        }
    }

    .about__image-container {
        margin-bottom: 2rem;

        .about__image {
            width: 100%;
            padding-left: 11rem;
    
            img {
                width: 100%;
            }
        }
    }

    .about__bottom-content h1 {
        font-size: 4.5rem;
        margin-top: 2rem;

    }
    
    .about-credits {
        &__section {
            margin-bottom: 1rem;

            a:link, a:visited {
                color: #000;

                &:hover {
                    background: url('../assets/images/gradient-backgrounds/header1-background.png');
                    background-size: cover;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .about {
        margin-left: 0;

        .about__image-container {
    
            .about__image {
                width: 100%;
                padding: 0;
            }
        }

        .about__bottom-content {
            width: calc(100% - 50px);
            margin: 0 auto;

            h1 {
                font-size: 3.5rem;
                margin-top: 1rem;
            }
        }
    }
}