@import './variables';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body, h1,h2,h3,h4,h5,h6,p,a,li {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'cirka-medium';
    font-weight: 400;
}

p,a,li {
    font-family: 'space-grotesk-regular';
    font-size: $p;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-thumb {
  background-color: $border-green;
}