@import './variables';
@import './mixins';

.home {
    margin-left: 250px;
    height: 100vh;
    overflow-x: hidden;

    &__content {
        width: 100%;
        padding: 1rem;
        cursor: pointer;

        a:link, a:visited {
            color: $primary-font-color;
            text-decoration: none;
        }

        &:hover > a .home__content-decscription {
            color: #59C75F;
        }

        &:hover > a .date {
            color: #599DCB;
        }

        &:hover > a .header {
            color: #F9D5DD;
        }

        &:hover > a .home__content-category {
            color: #D3C7FA;
        }

        .home__content-box {
            display: flex;
        }

        .home__content-box-2 {
            margin-top: -1rem;

            p {
                width: 70%;
                text-indent: 350px;
                transform: translate(200px, -30px);
            }
        }

        .home__content-category {
            width: 15%;
            margin-right: 1rem;
            margin-top: 1.8rem;
        }

        .home__content-header {
            font-size: 5rem;
        }
    }
}

@media (max-width: $mobile) {
    .home {
        margin-left: 0;
    }
}