@import './variables';
@import './mixins';

$images: ('category-background', 'description-background', 'header1-background', 'header2-background');

$randomImg: random(4);

@debug $randomImg;

.home {
    margin-left: 250px;
    margin-bottom: 4rem;
    height: 100vh;
    overflow-x: hidden;

    &__content {

        &:nth-child(1) {
            padding-top: 18px;
        }

        position: relative;
        width: 100%;
        padding: 0 25px;
        margin-bottom: 75px;
        cursor: pointer;

        a:link, a:visited {
            color: $primary-font-color;
            text-decoration: none;
        }

        &:hover {
            background: url('../assets/images/gradient-backgrounds/header1-background.png');
            background-size: cover;
            background-clip: text;
            color: transparent;
        }

        &:hover a {
            background: url('../assets/images/gradient-backgrounds/header2-background.png');
            background-clip: text;
            color: transparent;
        }

        &:hover > a .home__content-decscription {
            background: url('../assets/images/gradient-backgrounds/description-background.png');
            background-clip: text;
            color: transparent;
        }

        &:hover > a .date {
            background: url('../assets/images/gradient-backgrounds/header2-background.png');
            background-clip: text;
            color: transparent;
        }

        &:hover > a .header {
            background: url('../assets/images/gradient-backgrounds/header1-background.png');
            background-size: cover;
            background-clip: text;
            color: transparent;
        }

        &:hover > a .home__content-category {
            background: url('../assets/images/gradient-backgrounds/category-background.png');
            background-clip: text;
            color: transparent;
        }

        .home__content-box {

            h1 {
               margin-left: 11rem; 
               line-height: .9;
               text-transform: capitalize;
            }
        }

        .home__content-box-2 {
            margin-top: -1rem;

            h1 {
                line-height: .8;
                padding-top: 22px;
            }

            .floating-div {
                float: left;
                margin-right: 1rem;
            }

            p {
                margin: 0 auto;
                margin-left: 11rem;
                padding-top: 4rem;

                a:link, a:visited {
                    text-decoration: underline;
                }
            }
        }

        .home__content-category {
            position: absolute;
            left: 0rem;
            width: 18%;
            max-width: 150px;
            margin-right: 1rem;
            margin-left: 25px;
            margin-top: 1.1rem;
            line-height: 1;
        }

        .home__content-header {
            font-size: $h1;
        }
    }
}

@media (min-width: $extra-wide) {
    .home {
        .home__content-header {
            font-size: $h1-extra-wide;
        }
        
        .home__content-box-2 {

            p, a {
                font-size: $p-extra-wide;
                padding-top: 4.8rem;
            }
        }

        .home__content-category {
            font-size: $p-extra-wide;
        }
    }
}

@media (max-width: $tablet) {
    .home {

        .home__content-header {
            font-size: $h1-tablet;
        }
        
        .home__content-box-2 {

            p {
               padding-top: 3.2rem;
            }
        }

        .home__content-category {
            width: 20%;
        }
    }
}

@media (max-width: $mobile) {
    .home {
        margin-left: 0;

        .home__content-box {
            display: flex;
            flex-direction: column;

            h1 {
                margin-left: 3rem;
            }
        }
        
        .home__content-box-2 {

            h1 {
                margin-left: 1rem;
            }

            p {
                margin-left: 0;
            }
        }

        .home__content-category {
            width: 100%;
            max-width: 100%;
            position: relative;
        }
    }
}