// flex column

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// nav

@mixin nav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    @include flex-column;
}