@import './mixins';
@import './variables';

.project-show {
    margin-left: 250px;
    padding: 1rem;
    overflow-x: hidden;
    position: relative;

    .home {
        margin-left: 0;
        width: 100%;
        .home__content {
            padding: 0;
            padding-top: 0;
        }
    }

    &__back {
        color: $primary-font-color;
        position: absolute;
        right: 1rem;
        z-index: 999;
    }
}

@media (max-width: $mobile) {
    .project-show {
        margin-left: 0;
    }
}