@import './mixins';
@import './variables';

.project-show {
    margin-left: 250px;
    padding: 25px;
    padding-top: 18px;
    overflow-x: hidden;
    position: relative;

    a:link, a:visited {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

    // title and description at the top of the show page

    .home {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;

        .home__content {
            padding: 0;
            padding-top: 0;
            margin-bottom: 0;

            .home__content-category {
                margin-left: 0;
            }

            &:hover {
                background: none;
                color: initial;
            }
    
            &:hover > a .home__content-decscription, &:hover > a .date, &:hover > a .header, &:hover > a .home__content-category {
                background: none;
            }
        }
    }

    // Interview show page styles

    .interview {
        margin-bottom: .3rem;

        h1 {
            font-size: 4.5rem;
        }

        .interview__lines {
            margin-bottom: 3rem;
        }

        .interview__top {
            position: relative;
            display: flex;

            .interview__question-first, .interview__top-img {
                padding-left: 11rem;
            }

            .interview__top-img {
                width: 100%;
                margin-top: 1rem;

                img {
                    width: 100%;
                }
            }
        }

        .interview__section-tag {
            @include tags;
            width: 17%;
            font-size: .8rem;
            line-height: 1.2;
            margin-top: 1.5rem;

            .tag-link a:hover {
                background: url('../assets/images/gradient-backgrounds/header1-background.png');
                background-size: cover;
                background-clip: text;
                color: transparent;
            }
        }

        .interview__question:not(:nth-child(1)) {
            padding-left: 11rem;
        }

        .interview__pull-quote-section {
            .pull-quote {
                display: flex;

                .quote-tag p {
                    font-size: .8rem;
                    width: 60%;
                    margin-top: 2rem;
                }

                .pull-quote-img {
                    width: 70%;
     
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .show__credits {
            width: 400px;
            text-align: left;
            margin-bottom: 75px;

            .show__credits-section {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                a:hover {
                    background: url('../assets/images/gradient-backgrounds/header1-background.png');
                    background-size: cover;
                    background-clip: text;
                    color: transparent;
                }

                p {
                    width: 200px;
                }
            }
        }
    }

    // Any other genre other than interview styles

    .show {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: .3rem;

        &__top {
            position: relative;
            display: flex;

            .tag {
                @include tags;

                p, a {
                    font-size: .8rem;
                    width: 100%;
                }
            }

            .show__top-img{
                width: 100%;
                padding-left: 11rem;

                //video as header

                .iframe-container {
                    @include video-container;
                }
                  
                .responsive-iframe {
                    @include video;
                }

                img {
                    width: 100%;
                }
            }

        }

        &__section {
            display: flex;
            margin-top: 2rem;
            position: relative;

            .show__section-date-tag {
                @include tags;
            }

            .show__section-content {
                width: 100%;
                position: relative;

                .show-body-container {
                    display: flex;
                    flex-direction: column;
                }

                .tag2 {
                    @include tags;
                    width: 20%;

                    p {
                        font-size: .8rem;
                        width: 60%;
                    }
                }

                .flyer, h1, .body-text, .poem {
                    padding-left: 11rem;
                }

                .flyer {
                    width: 70%;
                }
                
                // Video in the body

                .iframe-container {
                    @include video-container;
                }
                  
                .responsive-iframe {
                    @include video;
                }

                .poem {
                    width: 70%;
                    min-width: 640px;
                }

                h1 {
                    font-size: 4.5rem;
                    line-height: .5;
                    margin-bottom: 2rem;
                }

                p {
                    margin-right: 5rem;
                }
            }
        }

        .show__bottom {
            width: 100%;

            .bottom-flex-container {
                display: flex;
                position: relative;

                .image-4-wrapper {
                    width: 100%;
                    padding-left: 11rem;

                    img {
                        width: 100%;
                    }
                }

                .tag3 {
                    position: absolute;
                    top: 2rem;
                    left: 0;

                    p {
                        font-size: .8rem;
                        width: 60%;
                    }
                }   
            }

            .image-layout-1 {
                .img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .row-one {
                    display: flex;

                    .img-one {
                        padding-right: .3rem;
                    }

                    .img-two {
                        padding-left: .3rem;
                    }

                    .img-four {
                        width: 50%;
                    }
                }

                .row-two {
                    display: flex;
                    position: relative;

                    .tag {
                        position: absolute;
                        top: 2rem;
                        left: 0;

                        p {
                            font-size: .8rem;
                            width: 60%;
                        }
                    }

                    .img-three {
                        padding-left: 11rem;
                    }
                }
            }

            img {
                width: 100%;
                margin-top: 2rem;
            }

            img:nth-child(2) {
                width: 50%;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }

        .show__credits {
            width: 400px;
            text-align: left;
            margin-bottom: 75px;

            .show__credits-section {
                display: flex;
                justify-content: space-between;

                p {
                    width: 200px;
                }
            }
        }
    }

    // Back btn at top of show pages

    &__back {
        color: $primary-font-color;
        position: absolute;
        right: 0;
        margin-right: 25px;
        z-index: 998;

        p:hover {
            background: url('../assets/images/gradient-backgrounds/header2-background.png');
            background-clip: text;
            color: transparent;
        }
    }

    // Btns at the bottom of all show pages

    .scroll-top, .next {
        margin-bottom: .3rem;
    }

    .scroll-top {
        text-decoration: underline;
        display: inline;
        cursor: pointer;

        &:hover {
            background: url('../assets/images/gradient-backgrounds/header1-background.png');
            background-size: cover;
            background-clip: text;
            color: transparent;
        }
    }

    .next:hover {
        background: url('../assets/images/gradient-backgrounds/category-background.png');
        background-clip: text;
        color: transparent;
    }

    .previous:hover {
        background: url('../assets/images/gradient-backgrounds/header1-background.png');
        background-size: cover;
        background-clip: text;
        color: transparent;
    }
}

@media (max-width: $mobile) {
    .project-show {
        margin-left: 0;

        .home {
            .home__content {
                .home__content-category {
                    margin: 0;
                }
            }
        }

        // Mobile interview styles

        .interview {

            h1 {
                font-size: 3rem;
            }
    
            .interview__top {
                flex-direction: column;

                .interview__top-img {
                    padding: 0;
                }

                .interview__question-first {
                    padding-left: 2rem;
                }
            }  
            
            .interview__question:not(:nth-child(1)) {
                padding-left: 2rem;
            }
    
            .interview__section-tag {
                width: 100%;
                position: relative;
            }
    
            .interview__pull-quote-section {

                    .pull-quote {
                        flex-direction: column;

                        .quote-tag {
                            margin-bottom: 1rem;
                        }

                        .pull-quote-img {
                            width: 100%;
                            padding-left: 0rem;
                
                            img {
                                width: 100%;
                            }
                        }
                    }

            }

            .show__credits {
                width: 100%;
            }
        }
        
        // Mobile other genre styles

        .show {
    
            &__top {
                flex-direction: column;

                .tag {
                    margin-bottom: 1rem;
                    position: relative;
                }
    
                p {
                    width: 20%;
                    min-width: 150px;
                    margin-right: 2rem;
                }
    
                .show__top-img {
                    width: 100%;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }
            }
    
            &__section {
                flex-direction: column;

                .show__section-date-tag {
                    margin-bottom: 1rem;
                    position: relative;
                }
    
                .show__section-content {
                    flex-direction: column;
                      
                    .tag2 {
                        position: relative;
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    .responsive-iframe, .poem, h1, .body-text, .flyer {
                        padding-left: 0;
                    }

                    .flyer, .poem {
                        width: 100%;
                        min-width: 100%;
                    }

                    .poem p, p {
                        margin: 0;
                    }
    
                    h1 {
                        font-size: 3.5rem;
                        line-height: .9;
                    }
                }
            }
    
            .show__bottom {

                .bottom-flex-container {
                    flex-direction: column;
    
                    .image-4-wrapper {
                        width: 100%;
                        padding-left: 0rem;
                    }
    
                    .tag3 {
                        position: relative;
                        margin-bottom: 1rem;
                    }  

                    .tag3 p {
                        width: 100%;
                    } 
                } 

                .image-layout-1 {
    
                    .row-one {
                        flex-direction: column;

                        .img-one, .img-two {
                            padding-right: 0rem;
                        }
    
                        .img-four {
                            width: 100%;
                        }
                    }
    
                    .row-two {
                        flex-direction: column;
    
                        .tag {
                            position: relative;
                        }
    
                        .img-three {
                            padding-left: 0;
                        }
                    }
                }
    
                img:nth-child(2) {
                    width: 100%;
                }
            }

            .show__credits {
                width: 100%;
            }
        }
    }   
}

@media (max-width: 400px) {
    .home .home__content-box-2 h1 {
        margin-bottom: 1rem;
    }
}

@media (min-width: $extra-wide) {
    .show {
        &__section {
            .show__section-content {
                .body-text, a {
                    font-size: $p-extra-wide;
                }
            }
        }
    }
}