// font-size

$p: 1rem;

$p-extra-wide: 1.4rem;

$h1: 4.5rem;

$h1-extra-wide: 5.5rem;

$h1-tablet: 3.5rem;

$h2: 1.4rem;

// font color

$primary-font-color: #000;
$secondary-font-color: #fff;

// line-height

$p-height: 1.3;

// nav 

$margin-bottom: .6rem;

// site border

$border-green: #B5FCB9;

// breakpoints

$mobile: 700px;
$tablet: 1050px;
$desktop: 1200px;
$extra-wide: 1700px;